* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0c0000;
}

.container {
    margin: 0 15%;
}

header img {
    width: 3rem;
    height: 3.375rem;
}

header .container {
    height: 8.25rem;
    border-bottom: solid #c2291e8a 0.0625rem;
}

#search-icon {
    width: 2.375rem;
}

nav li {
    display: inline;
    margin-left: 2.5rem;
}

nav a:link {
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
}

nav a:visited {
    color: white;
}

nav a {
    transition: 0.5s ease-in-out;
}

nav a:hover {
    text-decoration: underline solid #C22A1E;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero {
    color: white;
}

#hero-info {
    display: flex;
    flex-direction: column;
    padding-top: 5.375rem;
    z-index: 1;
}

#hero-info h1 {
    font-size: 6rem;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
    line-height: 102.4%;
    letter-spacing: -0.96px;
    margin-bottom: 1.25rem;
    width: 110%;
}

#hero-info span {
    margin-bottom: 3rem;
    text-shadow: 0px 0.5rem 0.5rem 0px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    font-family: Poppins;
    letter-spacing: -0.63px;
}

#hero-image img {
    position: relative;
    right: 10%;
    width: 50.375rem;
    margin-top: -9.5rem;
}

#social-media img {
    width: 2.375rem;
}

#hero-button {
    display: flex;
    width: 16.25rem;
    height: 3.6875rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
    border-radius: 0.3125rem;
    background-color: #C22A1E;
    border: none;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
}

#social-media {
    margin-top: 3.25rem;
    width: 16.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#adidas {
    margin-top: 6.25rem;
    width: 12.875rem;
}

#about {
    margin-top: 4.1875rem;
}

#about .container {
    color: white;
    display: flex;
    flex-direction: column;
}

#about h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Poppins;
    letter-spacing: -1.68px;
    border-bottom: 0.0625rem solid #C22A1E;
    margin-bottom: 4.8125rem;
}

#about #content {
    display: flex;
    width: 100%;
    gap: 4.8125rem;
    margin-bottom: 4.4375rem;
}

#about #about-background {
    z-index: -1;
    position: absolute;
    left: 45%;
    width: 43.75rem;
    opacity: 0.2;
}

#content img {
    width: 100%;
    height: 100%;
}

#about p {
    text-align: right;
    font-size: 1.1rem;
    font-family: Poppins;
    letter-spacing: -0.7px;
}

#background-image {
    width: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 80%;
    z-index: -2;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    gap: 7rem;
}

form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    height: 17.0625rem;
    margin-top: 3.125rem;
}

#form h1 {
    align-items: flex-start;
    color: white;
    font-size: 2rem;
    letter-spacing: -1.12px;
}

input {
    color: #0c0000;
    width: 22.375rem;
    height: 3.5625rem;
    border-radius: 0.3125rem;
    border: none;
    font-size: 1.125rem;
    letter-spacing: -0.84px;
    padding-left: 0.6875rem;
}

input::placeholder,
textarea::placeholder {
    color: #0c0000;
    letter-spacing: -0.84px;
}

textarea {
    color: #0c0000;
    grid-area: 1 / 2 / 4 / 3;
    border: none;
    border-radius: 0.3125rem;
    font-size: 1.125rem;
    letter-spacing: -0.84px;
    padding-left: 0.6875rem;
    padding-top: 0.6875rem;
    height: 17.0625rem;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

#form button {
    width: 22.375rem;
    height: 3.5625rem;
    color: white;
    border-radius: 0.3125rem;
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: -0.84px;
    padding-left: 0.6875rem;
    background-color: #C22A1E;
    margin-top: 4.125rem;
    cursor: pointer;
}

footer {
    background: rgb(12, 0, 0);
    background: linear-gradient(180deg, rgba(12, 0, 0, 1) 0%, rgba(194, 42, 30, 1) 100%);
    height: 20.6875rem;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -0.7px;
    padding-top: 11rem;
}

footer p {

    text-align: center;
    font-weight: normal;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 1300px) {
    .container {
        margin: 0 8%;
    }
}

@media only screen and (max-width: 56.25rem) {
    #hero-info h1 {
        font-size: 4.8rem;
    }

    #hero-image img {
        width: 40.25rem;
        margin-top: -11.875rem;
    }

    #hero-button {
        width: 16.25rem;
        height: 3.6875rem;
        font-size: 1.125rem;
    }

    #social-media {
        margin-top: 3.25rem;
        width: 16.25rem;
    }

    #adidas {
        margin-top: 6.25rem;
        width: 12.875rem;
    }

    #about h1 {
        font-size: 3.2rem;
        margin-bottom: 4.6875rem;
    }

    #about #content {
        gap: 3.75rem;
        margin-bottom: 3.4375rem;
    }

    #about #about-background {
        width: 31.25rem;
    }

    #form h1 {
        font-size: 1.875rem;
    }

    input {
        width: 19.875rem;
        height: 3.1875rem;
    }

    textarea {
        height: 13.6875rem;
    }

    #form button {
        width: 19.875rem;
        height: 3.1875rem;
        font-size: 1.25rem;
        margin-top: 4.6875rem;
    }

    footer {
        height: 26.125rem;
        font-size: 1.5625rem;
        padding-top: 7.75rem;
    }
}