* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0c0000;
}

.container {


    margin: 0 15%;

}

header img {
    width: 48px;
    height: 55px;
}

header .container {
    height: 132px;
    border-bottom: solid #c2291e8a 1px;
}

#search-icon {
    width: 38px;
}

nav li {
    display: inline;
    margin-left: 40px;
    font-weight: 700;

}

nav a:link {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

nav a:visited {
    color: white;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hero {
    color: white;
}

#hero-info {
    display: flex;
    flex-direction: column;
    padding-top: 86px;
    z-index: 1;

}

#hero-info h1 {
    font-size: 96px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 600;
    line-height: 102.4%;
    letter-spacing: -0.96px;
    margin-bottom: 20px;
    width: 110%;
}

#hero-info span {
    margin-bottom: 48px;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: -0.63px;
}

#hero-info button {
    display: flex;
    width: 260px;
    height: 59px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: white;
    border-radius: 5px;
    background-color: #C22A1E;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#hero-image img {
    position: relative;
    right: 10%;
    width: 803px;
    margin-top: -170px;
}

#social-media img {
    width: 38px;
}

#social-media {
    margin-top: 52px;
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#adidas{
    margin-top: 100px;
    width: 206px;
}

#about{
    margin-top: ;
}
#about .container {
    color: white;
    display: flex;
    flex-direction: column;
}

#about h1 {
    text-align: center;
    font-size: 48px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: -1.68px;
    border-bottom: 1px solid #FF2525;
    margin-bottom: 77px;
}

#about #content {
    display: flex;
 
    gap: 77px;
    margin-bottom: 67px;
}


#about #about-background {
    z-index: -1;
    position: absolute;
    left: 45%;
    width: 700px;
    opacity: 0.2;

}

#side-image{
height: 100%;
}

#about p {
    width: 650px;
    text-align: right;
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    letter-spacing: -0.7px;
}

#background-image {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 80%;
    z-index: -2;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    gap: 112px;
}



form {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    height: 273px;
    margin-top: 50px;
}

#form h1 {
    align-items: flex-start;
    color: white;
    font-size: 32px;

    font-weight: 600;
    letter-spacing: -1.12px;

}

input {
    color: #0c0000;
    width: 358px;
    height: 57px;

    border-radius: 5px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.84px;
    padding-left: 11px;

}

input::placeholder,
textarea::placeholder {
    color: #0c0000;
    font-size: 24px;

    font-weight: 600;
    letter-spacing: -0.84px;
}

textarea {
    color: #0c0000;
    grid-area: 1 / 2 / 4 / 3;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.84px;
    padding-left: 11px;
    padding-top: 11px;
    height: 273px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form button {
    width: 358px;
    height: 57px;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.84px;
    padding-left: 11px;
    background-color: #C22A1E;
    margin-top: 66px;
    cursor: pointer;
}

footer {
    background: rgb(12, 0, 0);
    background: linear-gradient(180deg, rgba(12, 0, 0, 1) 0%, rgba(194, 42, 30, 1) 100%);
    height: 333px;
    color: #FFF;
    font-size: 20px;

    font-weight: 700;
    letter-spacing: -0.7px;
    padding-top: 88px;
}

footer p {
    padding-top: 50px;
    text-align: center;
    font-weight: normal;
}

footer .container {
    display: flex;
    justify-content: space-between;
}