body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

input{
    font-size: 24px;
    background-color: #fff;

    border: 1px solid #000;
    padding: 8px;
}

button{
    font-size: 24px;
    background-color: #e7e7e7;

    border: 1px solid #000;
    padding: 8px;
}

span{
    font-size: 24px;
    font-weight: bold;
}